@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
    -webkit-text-stroke: 2px #4f46e5; /* for WebKit browsers */
    text-stroke: 2px black; /* standard */
}

.intro-text {
    svg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 36%;
        top: 55%;
        transform: translate(-50%, -50%) scale(1);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        animation: 3s pulsate infinite alternate ease-in-out;
    }
}